#logger.conf

[loggers]
keys=root,debug,error,transaction,bootstrap

[logger_root]
level=DEBUG
handlers=root

[logger_debug]
level=DEBUG
handlers=debug
qualname=debug
propagate=0

[logger_error]
level=DEBUG
handlers=error
qualname=error
propagate=0

[logger_transaction]
level=DEBUG
handlers=transaction
qualname=transaction
propagate=0

[logger_bootstrap]
level=DEBUG
handlers=bootstrap
qualname=bootstrap
propagate=0

[handlers]
keys=root,error,debug,transaction,bootstrap

[handler_root]
class=FileHandler
level=DEBUG
formatter=form01
args=('var/logs/root.log', 'a')
encoding = "UTF-8"

[handler_debug]
class=FileHandler
level=DEBUG
formatter=form01
args=('var/logs/debug.log', 'a')
encoding = "UTF-8"

[handler_error]
class=FileHandler
level=DEBUG
formatter=form01
args=('var/logs/error.log', 'a')
encoding = "UTF-8"

[handler_transaction]
class=FileHandler
level=DEBUG
formatter=form01
args=('var/logs/transaction.log', 'a')
encoding = "UTF-8"

[handler_bootstrap]
class=FileHandler
level=DEBUG
formatter=form01
args=('var/logs/bootstrap.log', 'a')
encoding = "UTF-8"

[formatters]
keys=form01

[formatter_form01]
format=%(asctime)s %(filename)s[line:%(lineno)d] %(levelname)s %(message)s
datefmt=%a, %d %b %Y %H:%M:%S
